h1,p {
  margin:0.5cm 2cm;
  width: 13cm;
}

p {
  hyphens:auto; 
  -webkit-hyphens:auto; 
}

p,h1 {
  font-family:calibri
}

a {
  color:purple;
  font-weight:bold
}

img {
  width:17cm;
}

p#p2.cursive.bold.xxx {
  color: red;
}

p.cursive {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
